a {
    color: #bfbfbf!important;
}
.nav-link-main {
    color: #fff!important;
}
.active a {
    color: #fff!important;
}
.table-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('img/icons8-28-15.png') 95% 0 no-repeat;
}
thead tr th {
    background-color: #b2edf5;
    color: rgb(253, 253, 253);
}
.table-item {
    line-height: 10px;
}
.block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}
.block h4 {
    display: inline-block;
    padding: 0 10px;
}
.block a {
    color: #17A2B8!important;
}
