body {
  background-image: url(1.jpg);
  background-attachment: fixed;
  background-size: 100%;
}

.row {
  background-color: rgba(230, 230, 230, 0.7);
}
.m-auto {
  margin: 0 auto;
}
.btn-primary {
  border: none;
}

.m-bottom {
  margin-bottom: 20px;
}
.padding {
  padding: 20px 30px;
}

.main {
  padding-top: 60px;
}
input {
  background-color: rgba(255, 255, 255, 0.6)!important;
  border-bottom: 1px solid rgb(150, 150, 150)!important;
}
a {
  display: inline-block;
  margin-top: 10px;
}